image: maven:3.9.6-eclipse-temurin-17

stages:
  - build
  - test

cache:
  paths:
    - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

# -------------------
# Build Linux RCP
# -------------------
build-linux:
  stage: build
  script:
    - apt-get update && apt-get install -y zip
    - mvn clean verify -DbuildRCP=true -Dos=linux -B
    - |
      DIR="rcp/fr.cea.nacre.rcp.product/target/products/linux-gtk-x86_64"
      if [ -d "$DIR" ] && [ "$(ls -A $DIR)" ]; then
        zip -r rcp-linux.zip "$DIR"
      else
        echo "Aucun fichier Linux à zipper."
      fi
  artifacts:
    paths:
      - rcp-linux.zip
    expire_in: 1 week

# -------------------
# Build Windows RCP
# -------------------
build-windows:
  stage: build
  script:
    - apt-get update && apt-get install -y zip
    - mvn clean verify -DbuildRCP=true -Dos=win32 -B
    - |
      DIR="rcp/fr.cea.nacre.rcp.product/target/products/win32-win32-x86_64"
      if [ -d "$DIR" ] && [ "$(ls -A $DIR)" ]; then
        zip -r rcp-windows.zip "$DIR"
      else
        echo "Aucun fichier Windows à zipper."
      fi
  artifacts:
    paths:
      - rcp-windows.zip
    expire_in: 1 week

# -------------------
# Build MacOS RCP
# -------------------
build-macos:
  stage: build
  script:
    - apt-get update && apt-get install -y zip
    - mvn clean verify -DbuildRCP=true -Dos=macosx -B
    - |
      DIR="rcp/fr.cea.nacre.rcp.product/target/products/macosx-cocoa-x86_64"
      if [ -d "$DIR" ] && [ "$(ls -A $DIR)" ]; then
        zip -r rcp-macos.zip "$DIR"
      else
        echo "Aucun fichier MacOS à zipper."
      fi
  artifacts:
    paths:
      - rcp-macos.zip
    expire_in: 1 week

# -------------------
# Test Maven
# -------------------
test:
  stage: test
  script:
    - mvn test