image: maven:3.9.6-eclipse-temurin-17

stages:
  - build
  - test

cache:
  paths:
    - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

build:
  stage: build
  script:
    - mvn clean verify -DbuildRCP=true -B
    - ls -R rcp/fr.cea.nacre.rcp.product/target  # debug : vérifier le RCP généré
  artifacts:
    paths:
      - rcp/fr.cea.nacre.rcp.product/target/products/*
    expire_in: 1 week

test:
  stage: test
  script:
    - mvn test