name: Java Maven CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      # Build Maven avec profile buildRCP
      - name: Build Maven RCP
        run: mvn clean verify -DbuildRCP=true -B

      # Optionnel : vérifier ce qui a été généré
      - name: List RCP output
        run: ls -R rcp/fr.cea.nacre.rcp.product/target

      # Upload le RCP en tant qu'artefact
      - name: Upload RCP Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RCP-Product
          path: rcp/fr.cea.nacre.rcp.product/target/products/*